*.pdb
WinExtract/.vs/WinExtract/v14/.suo
run.bat
/UndertaleTools.rar
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/UndertaleTools/v15/.suo
/WinExtract/.vs/WinExtract/v15/Server/sqlite3
/GameMakerStringsEditor/.vs/GameMakerStringsEditor/v15/Server/sqlite3
/TXTRCut/.vs/TXTRCut/v15
